/* -----------------------------------------
Hero Section
----------------------------------------- */
section.hero {
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 0 4rem;
}

/* hero Img */

section.hero .hero-img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
}

section.hero .hero-img img {
    height: 35rem;
}

/* hero text */

section.hero .hero-txt {
    flex: 1;
}

section.hero .hero-txt h1 {
    font-family: "poppins";
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: -0.2rem;
}

section.hero .hero-txt p {
    font-family: "montserrat";
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 0.2rem;
    margin-bottom: 1.8rem;
}

section.hero .hero-txt .icons {
    display: flex;
    justify-content: left;
    gap: 1rem;
    align-items: center;
}

section.hero .hero-txt .icons img {
    height: 2rem;
    margin-bottom: 2rem;
}

/* CTASS */
.hero-txt .ctas {
    display: flex;
    justify-content: left;
}

a#hero-filled-cta {
    font-weight: 700;
    padding: 0.7rem 1.4rem;
    border-radius: 70rem;
    border: 0.2rem solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-color: black;
    margin-right: 1rem;
    box-shadow: 2px 2px 3px black;
}

a#hero-filled-cta:hover {
    box-shadow: none;
    transition: all ease-in-out 0.3s;


}

a#hero-cta {
    font-weight: 700;
    padding: 0.7rem 1.4rem;
    border-radius: 70rem;
    border: 0.2rem solid rgb(0, 0, 0);
    color: black;
    box-shadow: 2px 2px 3px black;

}

a#hero-cta:hover {
    border: 0.2rem solid rgb(0, 0, 0);
    background-color: black;
    color: white;

    transition: all ease-in-out 0.3s;
}

/* -----------------------------------------
Hero Responsive Hero Section
----------------------------------------- */
@media (max-width:1200px) {
    section.hero {
        gap: 4rem;
    }

    /* hero Img */

    section.hero .hero-img img {
        height: 30rem;
    }

    /* hero text */
    section.hero .hero-txt h1 {
        font-size: 3rem;
    }

    section.hero .hero-txt p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    section.hero .hero-txt .icons img {
        height: 1.5rem;
        margin-bottom: 0.8rem;
    }

    /* CTA's Responsiveness is in Shared.css  */
}

@media (max-width: 980px) {
    section.hero {
        flex-direction: column;
    }

    section.hero {
        gap: 2rem;
    }

    /* hero Img */

    section.hero .hero-img img {
        height: 30rem;
        /* Same as previous query */
    }

    /* hero text */
    section.hero .hero-txt h1 {
        font-size: 3rem;
        /* Same as previous query */
        text-align: center;
    }

    section.hero .hero-txt p {
        font-size: 0.8rem;
        text-align: center;
        margin-bottom: 1.5rem;
        /* Same as previous query */
    }

    section.hero .hero-txt .icons {
        justify-content: center;
    }

    section.hero .hero-txt .icons img {
        height: 1.5rem;
        /* Same as previous query */
        margin-bottom: 0.8rem;
        /* Same as previous query */
    }

    /* CTA's Responsiveness is in Shared.css  */

}

@media (max-width: 500px) {
    section.hero {
        gap: 1rem;
    }

    /* hero Img */

    section.hero .hero-img img {
        height: 25rem;
    }

    /* hero text */
    section.hero .hero-txt h1 {
        font-size: 2.5rem;
    }

    section.hero .hero-txt p {
        font-size: 0.7rem;
        margin-bottom: 1rem;
    }

    section.hero .hero-txt .icons img {
        height: 1.3rem;
        margin-bottom: 0.8rem;
        /* Same as previous 2 queries */
    }

    /* CTA's Responsiveness is in Shared.css  */

}

@media (max-width: 380px) {
    section.hero {
        gap: 1.5 rem;
        margin-top: 2rem;
    }

    /* hero Img */

    section.hero .hero-img img {
        height: 21rem;
    }

    /* hero text */
    section.hero .hero-txt h1 {
        font-size: 2rem;
    }

    section.hero .hero-txt p {
        font-size: 0.6rem;
        margin-bottom: 1rem;
    }

    section.hero .hero-txt .icons {
        gap: 0.5rem;
    }

    section.hero .hero-txt .icons img {
        height: 1.25rem;
        margin-bottom: 0.8rem;
    }

    /* CTA's Responsiveness is in Shared.css  */

}

/* -----------------------------------------
About Me Section
----------------------------------------- */
section.about-me {
    margin: 15rem 4rem 0 4rem;
}

section.about-me .abt-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

/* img  */

section.about-me .img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.about-me img {
    height: 30rem;
}

/* Text  */
section.about-me .abt-txt {
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 1.25rem;

}

section.about-me .abt-txt h3 {
    font-family: "poppins";
    font-size: 1.6rem;
    font-weight: 600;
}

section.about-me .abt-txt p {
    font-family: "Roboto";
    color: var(--grey-para-text);
    line-height: 1.7rem;
    margin-bottom: 1rem;
}

a#abt-cta {
    font-weight: 700;
    padding: 0.7rem 1.4rem;
    border-radius: 70rem;
    border: 0.2rem solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 3px black;
    background-color: black;
}

a#abt-cta:hover {
    border: 0.2rem solid rgb(0, 0, 0);
    color: white;
    box-shadow: none;
    transition: all ease-in-out 0.3s;
}

/* -----------------------------------------
About Responsive About Section
----------------------------------------- */
@media (max-width: 1200px) {
    section.about-me img {
        height: 25rem;
    }

    section.about-me .abt-txt p {
        font-size: 0.8rem;
    }
}

@media (max-width: 980px) {
    section.about-me {
        margin-top: 6rem;
        background-color: aliceblue;
        border: 1px solid black;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
        border-radius: 2rem;
        padding: 2rem 0 3rem 0;
    }

    section.about-me .abt-container {
        display: block;
    }

    /* img  */
    section.about-me .img-cont {
        display: none;
    }

    section.about-me .abt-txt {
        width: 80%;
        align-items: center;
        margin: auto;
    }

    section.about-me .abt-txt p {
        font-size: 1rem;
        text-align: center;
    }
}

@media (max-width: 770px) {
    section.about-me {
        padding: 0;
        background-color: transparent;
        border: none;
        box-shadow: none;
        border-radius: 2rem;
    }

    section.about-me .abt-txt {
        width: 85%;
        align-items: baseline;
        margin: auto;
    }

    section.about-me .abt-txt h3 {
        font-size: 1rem;
    }

    section.about-me .abt-txt p {
        font-size: 0.6rem;
        line-height: 1.2rem;
        text-align: left;
    }
}

@media (max-width: 500px) {
    section.about-me {
        margin: 6rem 2rem 0 2rem;
    }

    section.about-me .abt-txt {
        width: 85%;
        align-items: baseline;
        margin: auto;
        gap: .5rem;

    }

    section.about-me .abt-txt h3 {
        font-size: 0.7rem;
    }

    section.about-me .abt-txt p {
        font-size: 0.5rem;
        line-height: 1rem;
        text-align: left;
        margin-bottom: 0.25rem;
    }
}

@media (max-width: 380px) {
    section.about-me .abt-txt {
        width: 100%;
        align-items: baseline;
        margin: auto;
        gap: .5rem;

    }

    section.about-me .abt-txt h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    section.about-me .abt-txt p {
        font-size: 0.8rem;
        line-height: 1.25rem;
        text-align: left;
        margin-bottom: 0.25rem;
    }
}

/* CTA's Responsiveness is in Shared.css  */
/* -----------------------------------------
Software Proficiency
----------------------------------------- */
section.softwares {
    margin: 7rem 4rem 3rem 4rem;
}

section.softwares p {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

section.softwares .software-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

section.softwares img {
    width: 60px;
    height: 60px;
}

/* -----------------------------------------
Softwares Responsive Software Section
----------------------------------------- */
@media (max-width: 770px) {
    section.softwares p {
        display: none;
    }

    section.softwares .software-icons {
        gap: 1.25rem;
    }

    section.softwares img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 770px) {
    section.softwares {
        margin: 7rem 1rem 3rem 1rem;
    }

    .softwares h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) {
    section.softwares {
        margin: 7rem 1rem 3rem 1rem;
    }

    .softwares h2 {
        font-size: 1.2rem;
    }
}

/* -----------------------------------------
testimonials
----------------------------------------- */
section.testimonials {
    margin: 7rem 4rem;
}

section.testimonials .container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

section.testimonials .container .client {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

section.testimonials .container .client img {
    height: 15rem;
}

section.testimonials .container .client .txt {
    text-align: center;
}

section.testimonials .container .client .txt h3 {
    font-family: "poppins";
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--grey-para-text);
    margin-bottom: .5rem;
}

section.testimonials .container .client .txt p {
    font-family: "montserrat";
    font-weight: 400;
    font-size: 0.95rem;
}

/* -----------------------------------------
Testimonials Responsive Testimonials Section
----------------------------------------- */
@media (max-width: 1200px) {
    section.testimonials .container {
        gap: 1rem;
    }

    section.testimonials .container .client {
        margin-bottom: 4rem;
    }

    section.testimonials .container .client img {
        height: 12rem;
    }
}

@media (max-width: 500px) {
    section.testimonials h2 {
        font-size: 1.1rem;
    }

    section.testimonials .container {
        gap: 1rem;
    }

    section.testimonials .container .client {
        margin-bottom: 2rem;
    }

    section.testimonials .container .client img {
        height: 10rem;
    }

    section.testimonials .container .client .txt h3 {
        font-size: 1rem;
    }

    section.testimonials .container .client .txt p {
        font-size: 0.6rem;
    }
}

@media (max-width: 360px) {
    section.testimonials {
        margin: 7rem 4rem 3rem 4rem;
    }
    section.testimonials h2 {
        font-size: 1.25rem;
    }

    section.testimonials .container .client {
        margin-bottom: 1.5rem;
    }

    section.testimonials .container .client img {
        height: 13rem;
    }

    section.testimonials .container .client .txt h3 {
        font-size: 1.25rem;
    }

    section.testimonials .container .client .txt p {
        font-size: 0.8rem;
    }
}

/* -----------------------------------------
Questions and Answers
----------------------------------------- */
section.qns-ans {
    max-width: 55%;
    margin: auto;
    margin-top: 0;
margin-bottom: 3rem;
}

section.qns-ans .faq {
    border: 1px solid rgb(195, 195, 195);
}

.qns-ans>p,
.qns-ans>h1 {
    margin: 1.5rem 0;
    text-align: center;
}

.qns-ans>h1 {
    letter-spacing: 3px;
}

.accordion {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

}

.accordion i {
    font-size: 1.6rem;

}

.active,
.accordion:hover {
    background-color: #efefef;
}

.pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #efefef;
    display: none;

}

.pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
    line-height: 1.4;
    margin-left: 0.5rem;
    margin-right: 1rem;
    font-weight: 500;
}

.faq {
    margin: 10px 0 0 0;
}

.faq.active {
    border: none;
}

/* -----------------------------------------
FAQs Responsive FAQs Section
----------------------------------------- */
@media (max-width: 1060px) {
    .accordion {
        padding: 1rem 1.5rem;
    }

    .pannel {
        padding: 0 1.5rem 1rem 1rem;
    }

    .qns-ans button {
        font-size: 1rem;
    }

    .qns-ans i {
        font-size: 1rem;
    }

    .qns-ans .pannel p {
        font-size: 0.8rem;
    }
}

@media (max-width: 840px) {
    .qns-ans h2{
        font-size: 1.2rem;
    }
    .qns-ans button {
        font-size: 1rem;
    }

    .qns-ans i {
        font-size: 1rem;
    }

    .qns-ans .pannel p {
        font-size: 0.8rem;
    }
}
@media (max-width: 770px) {
    .qns-ans button {
        font-size: 0.8rem;
    }

    .qns-ans i {
        font-size: 0.8rem;
    }

    .qns-ans .pannel p {
        font-size: 0.6rem;
    }
}
@media (max-width: 645px) {
    .qns-ans h2{
        font-size: 0.8rem;
        margin-bottom: 0;
    }
    .accordion {
        padding: 0.5rem 0.5rem;
    }
    .pannel {
        padding: 0 0 0.5rem 0;
    }

    .qns-ans button {
        font-size: 0.5rem;
    }

    .qns-ans i {
        font-size: 0.5rem;
    }

    .qns-ans .pannel p {
        font-size: 0.4rem;
    }
}
@media (max-width: 430px) {
    .qns-ans h2{
        font-size: 0.6rem;
    }
    .qns-ans button {
        font-size: 0.4rem;
    }

    .qns-ans i {
        font-size: 0.4rem;
    }

    .qns-ans .pannel p {
        font-size: 0.4rem;
    }
}
@media (max-width: 380px) {
    section.qns-ans h2{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    section.qns-ans {
        max-width: 80% !important;
    }
    .qns-ans button {
        font-size: 0.65rem;
    }

    .qns-ans i {
        font-size: 0.6rem;
    }

    .qns-ans .pannel p {
        font-size: 0.6rem;
    }
}