/* ----------------------------------------------------
Portfolio Section
---------------------------------------------------- */
*{
    --primary-color: #ffb302;
}
.portfolio pre {
    width: max-content;
    margin: auto;
    font-family: "poppins";
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 140%;
    height: max-content;
    margin-top: 0rem;
    margin-bottom: 8rem;
}

.portfolio pre span {
    font-size: 5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.portfolio p {
    text-align: center;
    font-size: 1rem;
    margin-top: -4rem;
    font-weight: 500;
    margin-bottom: 5rem;
}

/* Videos  */
.portfolio .portfolio-vids {
    width: 90%;
    margin: auto;
    height: max-content;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}



.portfolio .portfolio-vids .portfolio-vid {
    width: 15rem;
    border-radius: 1rem;
    border: 1.8px solid #f3d89b;
    padding: 0.5rem;
    background-color: #f3d89b;
}
.portfolio .portfolio-vids .portfolio-vid iframe{
    border-radius: 5px;
}

.portfolio .portfolio-vid.first-left-one {
    position: relative;
    top: -13rem;
    transform: rotate(-5deg);
}

.portfolio .portfolio-vid.second-left-one {
    position: relative;
    top: -1rem;
    transform: rotate(-3deg);

}

.portfolio .portfolio-vid.second-right-one {
    position: relative;
    top: -1rem;
    transform: rotate(3deg);

}

.portfolio .portfolio-vid.first-right-one {
    position: relative;
    top: -13rem;
    transform: rotate(5deg);

}

.portfolio .portfolio-vids .portfolio-vid .portfolio-actual-vid {
    border-radius: 0.5rem;
}
/* Other Videos  */
.portfolio .other-vids {
    width: 90%;
    margin: auto;
    height: max-content;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.portfolio .other-vids .portfolio-vid {
    width: 15rem;
    border-radius: 1rem;
    border: 1.8px solid #f3d89b ;

    padding: 0.5rem;
    background-color: #f3d89b;
}
.portfolio .other-vids .portfolio-vid iframe{
    border-radius: 5px;
}
/* ----------------------------------------------------
Responsive Portfolio Section
---------------------------------------------------- */
/* ---------------------------
Big Screens
--------------------------- */
@media (min-width: 1550px) {
    .portfolio .portfolio-vids {
        width: 72rem;
    }
}

@media (max-width: 1300px) {

    .portfolio pre {
        font-size: 2.5rem;
        line-height: 130%;
        margin-bottom: 1rem;
    }

    .portfolio pre span {
        font-size: 3rem;
    }

    .portfolio p {
        font-size: 0.7rem;
        margin-top: 0;
        font-weight: 400;
    }

    /* Videos  */
    .portfolio .portfolio-vids {
        gap: 3.5rem;
    }
    .portfolio .other-vids {
        gap: 3.5rem;
    }


    .portfolio .portfolio-vids .portfolio-vid {
        width: 15rem;
        border-radius: 0.75rem;
        border: 1.5px solid #d1d1d1;
        padding: 0.4rem;

    }
    .portfolio .other-vids .portfolio-vid {
        width: 15rem;
        border-radius: 0.75rem;
        border: 1.5px solid #d1d1d1;
        padding: 0.4rem;

    }

    .portfolio .portfolio-vids .portfolio-vid .portfolio-actual-vid {
        border-radius: 0.5rem;
    }
    .portfolio .other-vids .portfolio-vid .portfolio-actual-vid {
        border-radius: 0.5rem;
    }

}

@media (max-width: 1000px) {
    .portfolio pre {
        font-size: 2rem;
        line-height: 125%;
    }

    .portfolio pre span {
        font-size: 2.5rem;
    }

    .portfolio p {
        font-size: 0.6rem;
        margin-top: 0;
        font-weight: 300;
    }

    /* Videos  */
    .portfolio .portfolio-vids {
        gap: 2.5rem;
    }
    .portfolio .other-vids {
        gap: 2.5rem;
    }


    .portfolio .portfolio-vids .portfolio-vid {
        width: 12rem;
        border-radius: 0.75rem;
        padding: 0.25rem;

    }
    .portfolio .other-vids .portfolio-vid {
        width: 12rem;
        border-radius: 0.75rem;
        padding: 0.25rem;

    }
}

@media (max-width: 750px) {
    .portfolio pre {
        font-size: 3rem;
        line-height: 125%;
    }

    .portfolio pre span {
        font-size: 3.5rem;
    }

    .portfolio p {
        font-size: 1rem;
        margin-top: 0;
        font-weight: 400;
    }

    /* Videos  */
    .portfolio .portfolio-vids {
        gap: 5rem;
        flex-direction: column;
align-items: center;

    }
    .portfolio .other-vids {
        gap: 5rem;
        flex-direction: column;
align-items: center;

    }


    .portfolio .portfolio-vids .portfolio-vid {
        width: 20rem;
        border-radius: 0.75rem;
        padding: 0.5rem;

    }
    .portfolio .other-vids .portfolio-vid {
        width: 20rem;
        border-radius: 0.75rem;
        padding: 0.5rem;

    }

    .portfolio .portfolio-vid.first-left-one {
        top: 0;
        transform: rotate(-5deg);
    }

    .portfolio .portfolio-vid.second-left-one {
        top: 0;
        transform: rotate(5deg);

    }

    .portfolio .portfolio-vid.second-right-one {
        top: 0;
        transform: rotate(-5deg);


    }

    .portfolio .portfolio-vid.first-right-one {
        top: 0;
        transform: rotate(5deg);

    }


}

@media (max-width: 650px) {
    .portfolio pre {
        font-size: 2rem;
    }

    .portfolio pre span {
        font-size: 2.5rem;
    }

    .portfolio p {
        font-size: 0.65rem;
        margin-top: 0;
        font-weight: 300;
    }

    /* Videos  */

    .portfolio .portfolio-vids {
        gap: 3rem;
        margin: 0 auto 3rem auto;

    }
    .portfolio .other-vids {
        gap: 3rem;
        margin: 0 auto 3rem auto;

    }


    .portfolio .portfolio-vids .portfolio-vid {
        width: 15rem;
        border-radius: 0.75rem;
        padding: 0.5rem;
        z-index: 0;

    }
    .portfolio .other-vids .portfolio-vid {
        width: 15rem;
        border-radius: 0.75rem;
        padding: 0.5rem;
        z-index: 0;

    }

    .portfolio .portfolio-vid.first-left-one {
        z-index:58 ;
        top: 0;
        transform: rotate(-3deg);
    }

    .portfolio .portfolio-vid.second-left-one {
        top: 0;
        transform: rotate(3deg);

    }

    .portfolio .portfolio-vid.second-right-one {
        top: 0;
        transform: rotate(-3deg);


    }

    .portfolio .portfolio-vid.first-right-one {
        top: 0;
        transform: rotate(3deg);

    }

}

@media (max-width: 450px) {
    .portfolio pre {
        font-size: 1.5rem;
    }

    .portfolio pre span {
        font-size: 2rem;
    }

    .portfolio p {
        font-size: 0.5rem;
        margin-top: 0;
        font-weight: 300;
        letter-spacing: 0.6px;
    }

    /* Videos  */

    .portfolio .portfolio-vids {
        gap: 3rem;
    }
    .portfolio .other-vids {
        gap: 3rem;
    }


    .portfolio .portfolio-vids .portfolio-vid {
        width: 13rem;

    }
    .portfolio .other-vids .portfolio-vid {
        width: 13rem;

    }
}






/* Ctaaaaas */
/* Ctaaaaaaaaaaaaaaaaaaaaaaaaaa */
.ctas {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
}

.ctas a#filled-cta {
    font-weight: 700;
    padding: 0.7rem 1.4rem;
    border-radius: 70rem;
    border: 0.2rem solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-color: black;
    margin-right: 1rem;
    box-shadow: 2px 2px 3px black;
}

.ctas a#filled-cta:hover {
    box-shadow: none;
    transition: all ease-in-out 0.3s;


}

.ctas a#cta {
    font-weight: 700;
    padding: 0.7rem 1.4rem;
    border-radius: 70rem;
    border: 0.2rem solid rgb(44, 47, 44);
    color: black;
    box-shadow: 2px 2px 3px black;

}

.ctas a#cta:hover {
    border: 0.2rem solid rgb(0, 0, 0);
    background-color: black;
    color: white;

    transition: all ease-in-out 0.3s;
}